* {
            margin: 0;
            padding: 0;
            text-align: center;
        }

        body, main {
            /* height: 100vh; */
            width: 100vw;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            /* overflow: scroll; */
        }
        main{
    flex-direction: column;
    gap: 10rem;
}

        .ladka , .detail{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .lefty,.ladka .content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .ladka,
        .ladki,
        .green {
            width: 80vw;
            height: 80vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            max-width: 50%;
            height: auto;
        }

        .support{
            width: 250px;
            background-color: black;
            border-radius: 20px;
            color: white;
            padding: 0 20px;
            height: 50px;
        }
        
        .lefty, .left{
            justify-content:left;
            gap: 2rem;
        }
        .left{
            gap: 4rem;
        }
        .ladka{
            display: flex;
            flex-direction: column;
        }
        /* .content{
            display: flex;
            flex-direction: row;
        } */
        /* #noise{
            display: flex;
        } */
         #content{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;
         }
         #noise{
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
         }
         
         @media (max-width:600px) {
            img{
                height:400px;
                width: 250px;

            }
            .green,.ladki{
                flex-direction: column;
            }
            #content{
                display: flex;
                flex-direction: row;
            }
            
         }















         /* -----------------------------------------/ */
/* manikesh */



.body{
    color: white;
    background-color: black;
}
.navy{

    background-color: white;
    display: flex;
    color: black;
    padding:15px 20px;
    justify-content:space-between;
    align-items: center;
}
.nav1{
    background-color: black;
    display: flex;
    color: white;
    padding:15px 20px;
    justify-content:space-between;
    align-items: center;
}

#button1, #button2{
color: white;
padding: 10px 20px;
background-color: rgb(15, 170, 15);
border-radius: 10px;
height: 50px;
border: 0;
}
.nav2{
    display :flex;
    justify-content: center;
    align-items: space-evenly;
    gap:6rem;
    padding: 20px ;
    align-content: space-around;
}
#button2{
    height: 60px;
    width: 180px;
    background-color: green;
    border-radius: 10px;
}
#img1{
    height: 30px;
    width: 60px;
    padding-left: 100px;
}

.list{
    visibility: hidden;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;

gap: 2rem;
}

.under:hover .list{
    visibility: visible;;
}
#img2{
    height: 100px;
    width: 100px;
}



/* -------------------------------- */
/* Shree */



#foot {
    display: flex;
    justify-content: space-between;

}
#sect {
    display: flex;
    width: 30rem;

}
footer {
    padding-left:8rem ;
    padding-right: 8rem;
    background-color: black;
    color: white;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
width:85vw;

}
#price {
    display: flex;
   
}
#head1 {
    font-size: 2.2rem;
}
ul {
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    font-size: 100%;
    color: #a3a3a3;
    font-size: 90%;
    
}
#sect div {
    width: 12rem;
}
#insta {
    height: 94%;
    width: 75%;
    background-size: cover;
    background-image: url(Screenshot\ 2026-01-30\ at\ 11.53.06\ AM.png);
}
#youtube{
     height: 30px;
    width: 90px;
    background-size: cover;
    background-image: url(Screenshot\ 2026-01-30\ at\ 11.53.18\ AM.png);


    
}
#facebook {
      height: 94%;
    width: 75%;
    background-size: cover;
   background-image: url(Screenshot\ 2026-01-30\ at\ 11.53.13\ AM.png);



}
#social {
    display: flex;

}
#bottom {
    display: flex;
    justify-content: space-between;
}

/* --------------------- */
/* Udit */

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    display: flex;
    justify-content: center;
}
#fstpg {
    display: flex;
    height: 50rem;
    justify-content: space-around;
    align-items: center;
    width: 80rem;

}
#backimg{
    background-image: url(headphone.png);
    height: 35rem;
    width:100rem;
    background-size:cover;
   padding-right:5%;
    

}
h1{
    font-family:Arial, Helvetica, sans-serif;
}
#light {
    font-weight: 100;
    font-size: 3.5rem;
}
#bld {
    font-weight: 600;
    color: rgb(77, 178, 255);
    font-size: 3.5rem;
}
#but {
    padding: 10px 20px 10px 20px;
    border: 1.5px solid black;
    border-radius: 14px;
    background-color: white;
    font-weight:600px;
    width: 41%;
  margin-top:20px;

}
#flexadj {
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding-left: 50px;

}
p{
   font-family:Arial, Helvetica, sans-serif;
    color: rgb(111, 111, 111);
    font-size: 13px;
}
@media (max-width:600px) {
    img{
        height: 400px;
        width:250px;
    }
    
}











/* ------------------- */
/* parth */


/* 1st page */
*{
    margin: 0px;
    padding: 0px;
}
#head h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding-top: 50px;
}
#head p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(157, 156, 152);
}
#girl1 img{
   height: 430px;
    width: 390px;
}
#girl1{
    /* border: 1px solid black; */
    border-radius: 20px;
    height: 430px;
    width: 390px;
}
#girl2 img{
    height: 230px;
    width: 800px;
    border-radius: 20px;
}
#girl2{
    /* border: 1px solid black; */
    border-radius: 20px;
    width: 800px;
    background-color: rgba(246, 249, 249, 0.859);
}
#girl2 p{
    text-align: left;
    padding-left: 95px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
     color: rgb(157, 156, 152);

}
#girl2 h1{
    font-family: Arial, Helvetica, sans-serif;
   
}
#maing{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    flex-wrap: wrap;
}
#girl{
    display: flex;
    flex-direction: row;
    gap: 100px;
    flex-wrap: wrap;
}
/* 2nd page */
#main2{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
        padding-left: 90px;
    /* justify-content:space-around; */
    gap: 100px;
    flex-wrap: wrap;
}
#sec2{
    /* border: 1px solid black; */
    height: 350px;
    width: 870px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
     background-color: rgba(246, 249, 249, 0.859);
gap: 20px;
    /* justify-content: space-around; */

}
#hitext{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#himg img{
    height: 350px;
    width: 300px;
    border-radius: 20px;

}
#hitext h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-top: 80px;
}
#hitext p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(157, 156, 152);
}
#lephotu{
    /* border: 1px solid black; */
    height: 350px;
    width: 400px;
}
#lephotu img{
     height: 350px;
    width: 300px;
}
/* responsiveness */
@media screen {
    
}
@media(max-width:600px){
    img{
        height:400px;
        width: 280px;
        padding-left: 200px;
        padding-right: 200px;
    }
    #head{
        text-align: center;
    }
    p{
        text-align: center;
        overflow: hidden;
    }

}
@media(max-width:800px){
    img{
        height:400px;
        width: 280px;
        padding-left: 200px;
        padding-right: 200px;
    }
    #head{
        text-align: center;
    }
    p{
        text-align: center;
        overflow: hidden;
    }

}
