*{
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
}
.body{
    color: white;
    background-color: black;
}
.navy{

    background-color: white;
    display: flex;
    color: black;
    padding:15px 20px;
    justify-content:space-between;
    align-items: center;
}
.nav1{
    background-color: black;
    display: flex;
    color: white;
    padding:15px 20px;
    justify-content:space-between;
    align-items: center;
}

#button1, #button2{
color: white;
padding: 10px 20px;
background-color: rgb(15, 170, 15);
border-radius: 10px;
height: 50px;
border: 0;
}
.nav2{
    display :flex;
    justify-content: center;
    align-items: space-evenly;
    gap:6rem;
    padding: 20px ;
    align-content: space-around;
}
#button2{
    height: 60px;
    width: 180px;
    background-color: green;
    border-radius: 10px;
}
#img1{
    height: 30px;
    width: 60px;
    padding-left: 100px;
}

.list{
    visibility: hidden;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;

gap: 2rem;
}

.under:hover .list{
    visibility: visible;;
}
#img2{
    height: 100px;
    width: 100px;
}
@media(max-width:600px){
   nav{
    display: flex;
    flex-direction: column;
   }
}